{% extends "base.html" %}
{% block head %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/sid-static/leaflet/leaflet.js"></script>
    <link rel="stylesheet" href="/sid-static/leaflet/leaflet.css"/>
{% endblock %}
{% block filter_box %}
    <div id="filter-box">
        <div>
            <form id="map-search" method="get">
                <label for="search">Search</label>
                <input type="text" id="search" name="search"/>
                <input type="submit" value="Search" id="submit-map-search"/>
            </form>
        </div>
        <div id="search-results">
            <div id="errors"></div>
            <div id="counties"></div>
            <div id="places"></div>
        </div>
        <div id="filter-layers">
            <label id="buildings_select" for="buildings">Buildings</label>
            <select name="buildings">
                <option value="soda_hall" selected>Soda Hall</option>
                <option value="cory_hall">Cory Hall</option>
                <option value="etcheverry">Etcheverry</option>
            </select>
            <label for="floors">Floors</label>
            <select id="floors_select" name="floors">
                <option value="floor1">1</option>
                <option value="floor2">2</option>
                <option value="floor3" selected>3</option>
            </select>
        </div>

    </div>

{% endblock %}
{% block before_body_close %}
	<div id="map" style="width: 600px; height: 400px"></div>

    <script>
    var map = L.map('map').setView([37.874996, -122.258348], 18);
    L.tileLayer('http://{s}.tile.cloudmade.com/{key}/22677/256/{z}/{x}/{y}.png', {
			attribution: 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2012 CloudMade',
			key: 'BC9A493B41014CAABB98F0471D759707'
		}).addTo(map);

    L.geoJSON([])


        function main_map_init(map, options) {


            var dataurl = '{% url "rooms" %}';
            // Download GeoJSON via Ajax
            $.getJSON(dataurl, function (data) {
                // Add GeoJSON layer
                 L.geoJson(data, {onEachFeature:onEachFeature}
                ).addTo(map);
            });

            dataurl = '{% url "floors" %}';
            $.getJSON(dataurl, function (data) {
                // Add GeoJSON layer
                L.geoJson(data, {onEachFeature:onEachFeature}
                ).addTo(map);
            });

            function onEachFeature(feature, layer) {
                // does this feature have a property named popupContent?
                if (feature.properties && feature.properties.model) {
                    layer.bindPopup(feature.properties.model);
                }
            }

        }

    </script>
{% endblock %}